*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
}

.left_section{
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    position: relative;

}
.cards_holder{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 160px;
    left: 150px;
    gap: 32px;
}

.frontCard, .backCard{
    position: relative;
    width: 350px;
}
.front_side, .back_side{
    width:100%;
}

.backCard{
    transform: translateX(75px);
}

.card_number, .cardName, .card_month, .cvc{
    color: white;
    position: absolute;
}

.card_number{
    top:50%;
    left:20px;
    width: max-content;
    font-size: 22px;
    letter-spacing: 0.2rem;
}

.cardName{
    top:80%;
    left: 20px;
}

.card_month{
    top:80%;
    left:80%;
}


.logo_img{
    position: absolute;
    top: 1.5rem;
    left: 1.6rem;
    width: 65px;
}

.logo{
    width: 100%;
}

.cvc{
    top:43%;
    left:80%;
}




 

 




@media screen and (max-width:750px) {
    .left_section{
        background-image: url(images/bg-main-mobile.png);
        width: 100%;
        max-height: 30%;
    }

    
}












